#container{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin-top: 20px;
}
.cell{
    box-sizing: border-box;
    border: 1px solid black;
}