/* Used Pre-built button styling css*/
body {
    background: linear-gradient(to right,
            #f44336,
            #2196f3);
    font-family: roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 10px 0;
    color: white;
    text-shadow: 2px 2px 4px #1b7fce;
}

.btn {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0,
            #5adaff 0,
            #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow:
        rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "roboto", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition:
        box-shadow 0.15s,
        transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.btn:focus {
    box-shadow:
        #3c4fe0 0 0 0 1.5px inset,
        rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #3c4fe0 0 -3px 0 inset;
}

.btn:hover {
    box-shadow:
        rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 425px;
    width: 425px;
    border: 5px solid rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 4px;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cell {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
}